* {
    text-align: center;
    background-color: #E9B824;
    color: #219C90;
}

h1 {
    font-family: 'Geneva', Verdana, sans-serif;
    font-size: 130px;
}

img {
    width: 650px;
    height: auto;
}

p {
    font-size: 40px;
}